cat > .env <<'EOF'
DATABASE_URL=""
DIRECT_URL=""

AUTH_SECRET="0"
# BETTER_AUTH_SECRET=
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXT_PUBLIC_SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""
EOF